/* compileExpanded: ../../public/css/style.css */
/* main: ../main.sass */
/* main: ../main.sass */
/* main: ../main.sass */
* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

.separator {
	height: 2px;
	width: 30%;
	margin: 10px auto;
	background-color: #E53935;
}

.section-title {
	margin-bottom: 1em;
	text-align: center;
	letter-spacing: 4px;
}

/* main: ../main.sass */
/* main: ../main.sass */
#navbar {
	position: absolute;
}

#navbar nav {
	background-color: #E53935;
}

#navbar nav .brand-logo {
	max-height: 100%;
}

#navbar nav .brand-logo img {
	max-height: 100%;
	padding: 12px;
	vertical-align: inherit;
	height: 64px;
}

#navbar nav .navbar-link {
	text-transform: uppercase;
}

#navbar nav #menu-bar {
	width: 0px;
	height: 5px;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	transition: all ease-in-out 1s;
}

#slide-out {
	background-color: #eeeeee;
}

#slide-out .background {
	background-color: rgba(229, 57, 53, 0.8);
}

#slide-out .navbar-link:hover {
	color: rgba(229, 57, 53, 0.8);
}

#slide-out .navbar-link:hover .material-icons {
	color: rgba(229, 57, 53, 0.8);
}

#header {
	position: relative;
	height: 100vh;
	min-height: 500px;
	background: rgba(229, 57, 53, 0.5) url("/img/redCanyonOpti.jpg") no-repeat fixed center;
	background-size: cover;
	display: flex;
	align-items: center;
}

#header #animationLogo {
	display: block;
	margin: auto;
	color: white;
}

#header #header-arrow-down {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

#header #header-arrow-down p {
	margin: 0;
}

#header .header-text {
	color: #eeeeee;
	font-size: 36px;
	letter-spacing: -2px;
	text-transform: uppercase;
	margin: 0;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#header .particles-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(20, 20, 20, 0.3);
}

#header .particles-wrapper #particles-js {
	height: 100%;
	width: 100%;
}

#header #cta-button {
	pointer-events: auto;
}

#header .container {
	z-index: 1;
	pointer-events: none;
}

/* main: ../main.sass */
#profile {
	position: relative;
	padding: 100px 0px;
}

#profile::before {
	content: '';
	display: block;
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	margin-left: 30%;
	width: 40%;
	height: 100%;
	z-index: -1;
	transform: skew(-50deg);
	border: 1px solid rgba(229, 57, 53, 0.2);
	background-color: rgba(229, 57, 53, 0.25);
	box-shadow: 25px 0px 60px 0px rgba(51, 51, 51, 0.2);
}

#profile .container {
	max-width: 800px;
}

#profile .profile-picture {
	display: block;
	margin: auto;
	margin-bottom: 20px;
}

#profile .profile-title {
	margin-top: 0;
	font-size: 40px;
}

#profile .profile-text {
	font-size: 18px;
	line-height: 1.2em;
}

/* main: ../main.sass */
#skills {
	color: #eeeeee;
	background: #333333 url("/img/laptopOpti.jpg") fixed center center;
	background-size: cover;
	padding: 50px 0px;
}

#skills .skills-list {
	margin-bottom: 0px;
}

#skills .skills-list .skill-container {
	position: relative;
	padding: 0px 40px 0px;
	margin-bottom: 40px;
}

#skills .skills-list .skill-container .skill-level {
	position: absolute;
	top: 0;
	right: 40px;
}

#skills .skills-list .skill-container .skill-bar, #skills .skills-list .skill-container .skill-bar .skill-bar-level {
	height: 8px;
	border-radius: 4px;
	background-color: #eeeeee;
	margin-top: 10px;
	position: relative;
}

#skills .skills-list .skill-container .skill-bar .skill-bar-level {
	width: 0px;
	background-color: #E53935;
	transition: width ease-in-out .6s;
}

/* main: ../main.sass */
#services {
	padding-bottom: 50px;
}

#services .services-list {
	max-width: 800px;
	margin: auto;
}

#services .services-list .service-image {
	cursor: pointer;
}

#services .services-list .service-name {
	text-align: center;
}

#services .services-list .card-title {
	font-size: 22px;
}

#services .services-list .card-title i {
	position: absolute;
	top: 5px;
	right: 5px;
}

/* main: ../main.sass */
#music {
	background: #333333 url("/img/music.jpg") fixed center center;
	background-size: cover;
	padding: 50px 0px;
}

#music .song-list {
	margin-bottom: 0 !important;
}

#music .song-list .song iframe {
	max-width: 300px;
	width: 100%;
	display: block;
	margin: auto;
}

/* main: ../main.sass */
#contact {
	/* label focus color */
	/* label underline focus color */
}

#contact .contact-infos {
	margin-bottom: 0px;
}

#contact .contact-type {
	position: relative;
	margin-bottom: 15px;
}

#contact .contact-type .contact-center {
	display: inline-block;
	margin: auto;
}

#contact .contact-type .contact-center p {
	margin: 0;
}

#contact .contact-type .contact-center p:first-child {
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	margin-bottom: 10px;
}

#contact .contact-type .contact-center .material-icons {
	margin-right: 10px;
}

#contact .input-field input[type=text]:focus + label, #contact .input-field input[type=email]:focus + label, #contact .materialize-textarea:focus:not([readonly]) + label {
	color: #E53935 !important;
}

#contact .input-field input[type=text]:focus, #contact .input-field input[type=email]:focus, #contact .materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #E53935 !important;
	box-shadow: 0 1px 0 0 #E53935 !important;
}

/* main: ../main.sass */
#footer {
	background-color: #E53935;
}

/* main: ../main.sass */
@media screen and (max-width: 880px) {
	#profile .profile-title {
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
	.contact-center {
		display: block !important;
		text-align: left !important;
	}
	.contact-center p {
		margin-bottom: 0 !important;
	}
}
