// main: ../main.sass

@media screen and (max-width: $break-small)
  #navbar
    justify-content: center
    transition: all ease-in-out .4s

    &.extended
      .navbar-list
        margin: 10px 0

      #menuToggler
        .burger-bar
          background-color: $clair
          &:first-child
            transform: rotate(135deg)
            margin-top: 16px
          &:last-child
            transform: rotate(-135deg)
            margin-top: -4px
          &:nth-child(2)
            width: 0
            height: 0
            margin: 0 auto

    .navbar-list
      margin: 40px 0
      flex-direction: column
      padding: 0
      margin: 0
      transition: all ease-in-out .4s
      margin-top: -150px
      width: 100%
      .navbar-item
        width: 100%
        .navbar-link
          display: block

    #logo, #menu-bar
      display: none

    #menuToggler
      width: 36px
      height: 28px
      position: absolute
      right: 10px
      top: 10px
      display: block
      cursor: pointer
      .burger-bar
        background-color: $alizarin
        display: block
        height: 4px
        width: 36px
        border-radius: 4px
        margin: auto
        transition: all ease-in-out .2s
        &:first-child
          margin-top: 0
        &:last-child
          margin-top: 8px
        &:nth-child(2)
          margin-top: 8px

  .profile
    .wrapper
      width: 100%
      flex-direction: column
      max-width: 740px

      .profile-photo
        margin-right: auto
        margin-bottom: 40px

      .profile-infos
        text-align: justify
        text-align-last: center
        padding-left: 0px

        .section-title
          text-align: center

  .services
    .services-list
      .service-container
        width: 46%
        margin-left: 2%
        margin-right: 2%

  .music
    .wrapper
      .song-list
        .song
          margin-bottom: 40px

  .contact
    .contact-infos
      img
        display: none

@media screen and (max-width: $break-small-contact)
  .contact
    .contact-infos
      p
        font-size: .8rem

@media screen and (max-width: $break-smallest-contact)
  .contact
    .contact-infos
      .phone,.email,.adress
        width: 100%
      .phone,.email
        margin-bottom: 15px
    .contact-form
      .name,.email
        width: 100%
      .name
        margin-right: 0
        margin-bottom: 15px

  .skills
    .skills-list
      .skill-container
        width: 100%
        padding: 10px 20px
        margin-bottom: 10px


@media screen and (max-width: $break-xs)
  .services
    .services-list
      .service-container
        width: 80%
        margin-left: 10%
        margin-right: 10%
        padding-right: 30px
        padding-left: 30px

@media screen and (max-width: $break-smallest)
    .services
      .services-list
        .service-container
          width: 100%
          height: auto
          padding: 10px
          .service-name
            white-space: normal
            line-height: 1rem
            margin-top: 10px
        &:hover
          .service-image
            height: auto!important
          .service-name
            margin-bottom: 5px!important

@media screen and (max-width: 980px)
  .music
    .song-list
      .song:last-child
        display: none
