/* main: ../main.sass */

#navbar
  .brand-logo
    max-height: 100%
    img
      max-height: 100%
      padding: 12px
      vertical-align: inherit

  .navbar-link
    text-transform: uppercase

#header
  position: relative
  height: calc(100vh - 64px)
  min-height: 400px
  background: $noir url('/img/forestOpti.jpg') no-repeat fixed center
  background-size: cover
  display: flex
  align-items: center

  #animationLogo
    display: block
    margin: auto
    color: white
    &:hover

  #header-arrow-down
    position: absolute
    bottom: 0
    left: 0
    right: 0
    p
      margin: 0

  .header-text
    color: $clair
    font-size: 36px
    letter-spacing: -2px
    text-transform: uppercase
    margin: 0
    -moz-user-select: none
    -webkit-user-select: none
    -ms-user-select: none
    -o-user-select: none
    user-select: none

  .particles-wrapper
    position: absolute
    width: 100%
    height: 100%
    z-index: 0
    background-color: rgba(20,20,20,.3)
    #particles-js
      height: 100%
      width: 100%

  .container
    z-index: 1
