/* main: ../main.sass */

#services
  .section-title
    text-align: center
  .services-list
    max-width: 800px
    margin: auto
    .service-image
      cursor: pointer
    .service-name
      text-align: center
    .card-title
      font-size: 22px
      i
        position: absolute
        top: 5px
        right: 5px
